/* FONTS */
@import 'fonts';

/* RESET STYLE */
@import 'reset';

// VARIABLES
@import 'variables';

// MIXINS
@import 'mixins';

// FUNCTION
@import 'function';

/* GENERAL START*/
html,
body {
    font-family: $font-main;
    font-weight: 400;
    font-size: 62.5%;
    color: $color_black;
    background-color: $color_bg;
    scroll-behavior: smooth;
    // overflow-x: hidden;

    @media (max-width: 991px) 
    {
        font-size: 55%;
    }

    @media (max-width: 770px) 
    {
       
    }

    @media (max-width: 450px) 
    {
        font-size: 50%;
    }
}

.wrapper {
    max-width: $maxWidth;
    margin: 0 auto;
}

.border {
    max-width: $maxWidth;
    margin: 0 auto;
}

section {
    padding: 12rem 0 0 0;
}

.title2 {
    font-size: 5rem;
    font-weight: 700;
    color: $color_black;
}

.title3 {
    font-size: 3rem;
    font-weight: 700;
    color: $color_black;
}

.title4 {
    font-size: 2.2rem;
    font-weight: 400;
    color: $color_black;
}

p {
    font-size: 2.2rem;
    font-weight: 400;
    color: $color_black;
}

a {
    font-size: 2.4rem;
    font-weight: 700;
    color: $color_black;
    text-decoration: underline;
}
/* GENERAL END*/


/* HEADER START*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $color_black;
    z-index: 1000;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color_grey;
        z-index: 80;
    }
    
    @media (max-width: 770px) 
    {
        padding: 3rem 0rem;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__logo {
            font-size: 3rem;
            font-weight: 900;
            color: $color_black;
            padding: 0 3rem;
            z-index: 99;
        }

        .header__icon {
            display: none;
            transition: .1s linear;

            @media (max-width: 770px) 
            {
                display: block;
                z-index: 98;
                padding: 0 3rem;
            }

            i {
                font-size: 3rem;
                cursor: pointer;
                color: $color_black;
            }
            
            &.menu-open {
                transform: rotate(135deg);
            }
        }
    
        .header__menu {
            flex-grow: 1;
            text-align: right;
            z-index: 99;

            @media (max-width: 770px) 
            {
                position: fixed;
                top: -100%;
                left: 0;
                background-color: $color_grey;
                width: 100%;
                height: 100%;
                text-align: left;
                padding: 9.8rem 0 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: .2s linear;
                z-index: 79;

                &.menu-open {
                    top: 0;
                }
            }
            
            a {
                display: inline-block;
                font-size: 2.2rem;
                color: $color_black;
                text-decoration: none;
                margin: 0 7.5rem;
                position: relative;

                &:first-child {
                    margin: 0 0;
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $color_black;
                    transform: scale(0);
                    transition: .2s linear;
                }

                &:hover::before{
                    transform: scale(1);
                    
                }

                @media (max-width: 770px) 
                {
                    margin: 0 0;
                    padding: 5rem 0;
                    font-size: 3rem;
                }
            }
        }
    
        .header__slogan {
            font-size: 2.2rem;
            background-color: $color_black;
            color: $color_wheit;
            padding: 3rem 7.5rem;
            z-index: 96;

            @media (max-width: 770px) 
            {
                display: none;
            }
        }
    }
}
/* HEADER END*/


.main {
    // margin: 15rem 0 0 0;
    padding: 0 3rem;
}


/* HERO START*/
.hero {
    display: flex;
    justify-content: space-between;
    @include sizeWindow(1025px){
        flex-direction: column;
    }

    .hero__box {
        flex: 0 1 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include sizeWindow(1025px){
            order: 2;
        }

        .hero__box__txt {
            @include sizeWindow(1025px){
                margin: 3rem 0 0 0;
            }

            h1 {
                font-size: 5rem;
                font-weight: 700;
                margin: 0 0 3rem 0;
                @include sizeWindow(1025px){
                    text-align: center;
                }
            }
    
            p {
                font-size: 3rem;
            }
        }
        
        span {
            font-size: 8rem;
            cursor: pointer;  
            width: fit-content;     
            @include sizeWindow(1025px){
                text-align: center;
                width: 100%;    
                margin: 3rem 0 0 0;
            } 
            @include sizeWindow(770px){
                display: none;
            } 
        }
    }

    .hero__box-img {
        flex: 0 1 48%;
        min-height: 68rem;
        position: relative;
        @include sizeWindow(1025px){
            order: 1;
        }
        @include sizeWindow(770px){
            min-height: 34rem;
        } 

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
/* HRO END*/


/* WORKS START */
.works {
    margin: 0rem 0 0rem 0;
    
    .title2 {
    margin: 0 0 3rem 0;
    }

    .works__slieder {

        .works__slieder__wrapper {

            .works__slied {
                margin: 0 3rem 0 0;

                .slider__slied__img {
                    
                    img {
                        width: 100%;
                    }
                }

                .works__slied__content {

                    .title3 {
                        margin: 2.8rem 0 0.8rem 0;
                    }

                    .title4 {

                    }

                    p {
                        margin: 1.8rem 0 2.3rem 0;
                    }

                    a {

                    }
                }
            }
        }
    }
}
/* WORKS END */